@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main: #854d0e;
    --secondary: #f6f9ff;
    --light: white;
    --dark: #1f2937
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Helvetica", sans-serif;
    min-height: 100vh;
    color: var(--main)
}

header, footer, .about, .flex, .quote, .cta {
    display: flex;
    align-items: center;
}

header, footer {
    background-color: var(--main);
}

header {
    justify-content: space-around; 
    padding: 12px
}

header .logo {
    width: 100px;
    outline: white
}

header a {
    text-decoration: none;
    color: var(--secondary)
}

header img {
    width: 32px;
    height: auto;
    background-color: aliceblue;
    border-radius: 50%;
}

header img + span{
    color: var(--secondary)
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: var(--main);
    background-image: url('./hero.jpg');
    background-position: 0% 55%;
    background-size: cover;
    min-height: 520px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 24px
}

.hero .title, .glass {
    flex: 1;
    flex-basis: 300px;
}

.hero .title {
    color: var(--light);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.hero .title p {
    color: var(--secondary);
    font-size: 18px;
    text-transform: none;
}

button {
    padding: 12px 24px;
    background-color: var(--main);
    color: var(--light);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.hero .glass {
    display: flex;
    justify-content: center;
}

.hero .glass img {
    height: 400px;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(10%);
}

.about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.about .title {
    font-size: 32px;
    text-align: center;
    width: 60%;
    color: var(--dark)
}

footer {
    justify-content: center;
    padding: 20px;
    color: var(--secondary);
}

.flex {
    gap: 16px
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.card img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.card p {
    text-align: center;
    font-size: 18px;
    color: var(--dark)
}

.quote, .cta {
    justify-content: center;
    padding: 80px 12px;
}

.quote {
    padding: 80px 12px;
    background-color: #fed7aa;
}

.quote div {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}

.quote .title {
    font-size: 36px;
    font-style: italic;
    margin: 0;
}

.quote .author {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.cta div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d97706;
    border-radius: 5px;
    padding: 48px 156px;
    gap: 64px;
}

.cta div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--light);
    gap: 0;
    padding: 0;
    p { padding: 0; margin: 0 }
}

.cta div div .title {
    font-size: 28px;
}

.cta div div .subtitle{
    font-size: 20px;
    color: var(--secondary)
}