@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main: #1F2937;
    --secondary: #f6f9ff;
    --light: white;
    --button-main: #854d0e
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Helvetica", sans-serif;
    min-height: 100vh;
    color: var(--main)
}

header, footer {
    display: flex;
    align-items: center;
    background-color: var(--main);
}

header {
    justify-content: space-around; 
    padding: 12px
}

header .logo {
    width: 100px;
    outline: white
}

header a {
    text-decoration: none;
    color: var(--secondary)
}

header img {
    width: 32px;
    height: auto;
    background-color: aliceblue;
    border-radius: 50%;
}

header img + span{
    color: var(--secondary)
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: var(--main);
    background-image: url('./hero.jpg');
    background-position: 0% 55%;
    background-size: cover;
    min-height: 520px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 24px
}

.title, .glass {
    flex: 1;
    flex-basis: 300px;
}

.title {
    color: var(--light);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.title p {
    color: var(--secondary);
    font-size: 18px;
    text-transform: none;
}

.title button {
    padding: 12px 24px;
    background-color: var(--button-main);
    color: var(--light);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.glass {
    display: flex;
    justify-content: center;
}

.glass img {
    height: 400px;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(10%);
}

footer {
    justify-content: center;
    padding: 20px;
    color: var(--secondary)
}

.flex {
    display: flex;
    align-items: center;
    gap: 16px
}